#container {
    border: 1px solid black;
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    border: 1px solid black;
    height: 37.5px;      /* (600px / 16) = 37.5px */
    width: 37.5px;
    box-sizing: border-box;
}